# Ignore venv and .env
venv/
.env


# Ignore Terraform state and config files
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars

# Python version:
.python-version

# Ignore Python cache files:
__pycache__/
*.py[cod]
src/.pytest_cache
src\files\__pycache__\*
src\files\__pycache__\check_db_connection.cpython-313.pyc
src\files\__pycache__\utility_functions.cpython-311.pyc
src\files\__pycache__\utility_functions.cpython-313.pyc
src/files/__pycache__/*

# Ignore all __pycache__ directories and pyc files
src/files/__pycache__/
src/files/__pycache__/*.pyc

# Ignore challenges __pycache__
challenges\__pycache__\*

# Recommended: Ignore all __pycache__ folders and pyc files everywhere
**/__pycache__/
**/*.pyc